name: Build and Deploy
on:
  push:
    branches:
      - main
    tags: ['*']
  pull_request:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      statuses: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 18
      - run: npm install
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
      - name: Download trunk
        uses: jetli/trunk-action@v0.5.1
        with:
          version: 'v0.21.14'
      - name: Build page
        run: trunk build --release
      - run: touch dist/.nojekyll
      - run: ls -lah /dist
      - name: Deploy page
        uses: JamesIves/github-pages-deploy-action@v4
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            branch: gh-pages
            folder: dist
            single-commit: true
            clean: true
